body{
    margin: 0;
    padding: 0;
    background-color: #fcffbc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: rgb(216, 216, 8);
    /* border: 2px solid black; */
    width: 40%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: -4px -4px 4px 4px rgb(187, 187, 110);
}
.name{
    background-color: yellow;
    font-size: 40px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 20px 20px 20px 20px ;
    box-shadow: -4px -4px 4px 4px rgb(144, 144, 10);
    color: rgb(0, 0, 255);
}
input{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    background-color: #fcffbc;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 255);
    border: none;
    box-shadow: -3px -3px 3px 3px rgb(144, 144, 10);


}
.btn{
    margin-top: 30px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    box-shadow: -3px -3px 3px 3px rgb(144, 144, 10);
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 0);
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
}
h4{
    /* border: 2px solid black; */
    width: 300px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 255);

}
h3{
    color: rgb(0, 0, 255);
    font-size: 30px;

}